CompileFlags:
  Remove:
    - "-fno-shrink-wrap"
    - "-fno-tree-switch-conversion"
    - "-fstrict-volatile-bitfields"
    - "-mlongcalls"
    - "-mlong-calls"
  Add:
    - "-isystem"
    - "C:/Users/PC/.platformio/packages/toolchain-xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0"
    - "-isystem"
    - "C:/Users/PC/.platformio/packages/toolchain-xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0/xtensa-esp-elf"
    - "-isystem"
    - "C:/Users/PC/.platformio/packages/toolchain-xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include"
    - "-isystem"
    - "C:/Users/PC/.platformio/packages/toolchain-xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include-fixed"
    - "-isystem"
    - "C:/Users/PC/.platformio/packages/toolchain-xtensa-esp-elf/xtensa-esp-elf/include"